In [1]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#  chargement et visualisation :

In [2]:
data = pd.read_csv('dataset.csv')
data.head(3)

                    categorie  mois v_reg c_reg           ca
0  agro_industry_and_commerce  Aout    MG    BA  1134.439941
1  agro_industry_and_commerce  Aout    MG    MG   164.289993
2  agro_industry_and_commerce  Aout    PR    SP  1124.659988

In [3]:
## --Creation de classes 
data['classe'] = (data['ca'] > np.mean(abs(data['ca'] - np.mean(data['ca'])))).astype(int)
data.head(4)

                    categorie  mois v_reg c_reg           ca  classe
0  agro_industry_and_commerce  Aout    MG    BA  1134.439941       1
1  agro_industry_and_commerce  Aout    MG    MG   164.289993       0
2  agro_industry_and_commerce  Aout    PR    SP  1124.659988       1
3  agro_industry_and_commerce  Aout    SC    PR    47.620003       0

In [4]:
## -- Labeel encoder 
categories = dict()
mois = dict()
v_reg = dict()
c_reg = dict()
for i in range(len(np.unique(data['categorie']))): categories[np.unique(data['categorie'])[i]] = i
for i in range(len(np.unique(data['mois']))): mois[np.unique(data['mois'])[i]] = i
for i in range(len(np.unique(data['v_reg']))): v_reg[np.unique(data['v_reg'])[i]] = i
for i in range(len(np.unique(data['c_reg']))): c_reg[np.unique(data['c_reg'])[i]] = i

In [5]:
data['categorie'] = np.array([categories[c] for c in data['categorie']])
data['mois'] = np.array([mois[c] for c in data['mois']])
data['v_reg'] = np.array([v_reg[c] for c in data['v_reg']])
data['c_reg'] = np.array([c_reg[c] for c in data['c_reg']])

In [16]:
data

       categorie  mois  v_reg  c_reg            ca  classe
0              0     0      8      4   1134.439941       1
1              0     0      8     10    164.289993       0
2              0     0     15     25   1124.659988       1
3              0     0     20     17     47.620003       0
4              0     0     22     10   1978.180054       1
...          ...   ...    ...    ...           ...     ...
18109         70    11     22     20     77.190002       0
18110         70    11     22     22   1909.149948       1
18111         70    11     22     23   1505.069992       1
18112         70    11     22     25  14903.309761       1
18113         70    11     22     26    417.229996       0

[18114 rows x 6 columns]

#  Apprentissage

In [26]:


    #------------ load data : ------------
    print('loading data ...')
    x = data.iloc[:,0:-2]
    y = data.iloc[:,-1]
    #------------ split data : ------------
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)
    #------------ SVM ------------
    #clf = SVC(C=10000, kernel = 'rbf')
    #clf.fit(x,y)
    #print(f'Train accuracy: {clf.score(x,y)*100}%')
    #joblib.dump(clf, fname)
    #------------ DTC ------------
    clf = DecisionTreeClassifier()
    clf.fit(x_train,y_train)
    print(f'Train accuracy: {clf.score(x_train,y_train)*100}%')
    # ----- test score :------
    
    y_pred = clf.predict(x_test)
    print(f'test accuracy: {accuracy_score(y_pred, y_test)*100}%')

loading data ...
Train accuracy: 100.0%
test accuracy: 82.07911683532659%

In [30]:
def write_output(cat,m,vreg,creg):
    y_pred = clf.predict([[categories[cat], mois[m], v_reg[vreg], c_reg[creg]]])
    return(y_pred)
write_output('baby','Septembre','SP','RS').astype('int')

array([1])

In [31]:
#